* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    /* outline: 1px solid red; */
}

body {
    width: 100vw;
    height: 100vh;
}

.img-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 30px 50px 30px 50px;

}

.titback {
    height: 180px;
    width: 100vw;
    object-fit: cover;
    object-position: 0px 10%;
}


.logo {
    height: 70px;
    border: 2px solid;
    border-radius: 7px;
    top: 37px;
    left: 670px;
    background-color: azure;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    height: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    width: 100%;
    background-color: white;
    border: 2px solid black;
    color: black;
    text-align: center;
}

p {
    padding: 0px 20px;
}

.contacto>p {
    padding-top: 40px;
}

.enlaces {
    width: 150px;
    height: 400px;
    padding: 10px;
    z-index: 2;
}

nav>a {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
    border: 2px solid black;
    background-color: cornflowerblue;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 3px 3px darkslategrey;
}

a[href="#"] {
    background-color: limegreen;
}

a:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

.imagen {
    width: 30vw;
    object-fit: contain;
    object-position: 0px 0px;
}

article {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.articulos,
.contacto {
    width: 45vw;
}

.maps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.maps>article{
    border  : 1px solid black;
    margin: 10px 0px;
}

.maps>iframe{
    width: 300px;
    height: 200px;
}

.rules,
.info,
.regis {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    padding-bottom: 50px;
}

.rulestit {
    display: flex;
    flex-direction: column;
    text-align: center;
}

dl {
    width: 90%;
}

dt {
    margin: 30px 0px 0px 10px;
    font-size: 22px;
    font-weight: bold;
}

dd {
    margin: 10px 5px 0px 30px;
}


.bold {
    font-weight: bold;
}

.list {
    counter-reset: item;
    margin: 0 0 1.5em;
    padding: 0;
}

.list>li {
    list-style-position: inside;
    margin: 10px 5px 0px 0px;
    counter-increment: item;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 0;
    text-indent: -1.2rem;
}

.list>li::before {
    content: counter(item) '.';
    display: inline-block;
    font-weight: bold;
    padding-right: .5rem;
    text-align: right;
    width: 2rem;
}

.sublist {
    list-style-position: inside;
    margin: 10px 5px 0px 40px;
}

.sublist>li {
    padding: 0px 0px 10px 0px;
    list-style-type: lower-latin;
}

ul>li {
    list-style-position: inside;
    padding-left: 40px;
}

table {
    width: 80%;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0 1em;
}

table {
    border: 3px solid grey;
}

td {
    border: 1px solid grey;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

table>caption {
    text-align: left;
    padding-bottom: 30px;
}

td {
    text-align: center;
}

.details {
    margin: 30px 0px;
}

.details>p {
    margin-bottom: 10px;
}

.dcontact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dcontact>p {
    margin: 10px 0px;
}

form{
    padding: 20px;
}

fieldset{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px 0px;
    margin-bottom: 20px;
}

legend{
    font-weight: bold;
    font-size: 18px;
}

fieldset >div{
    margin-right: 40px;
}

label{
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}

.sign{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.signature{
    display: flex;
}

.signature>input{
    width: 100%;
}
